---
// Importing BaseLayout as before
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title} pageHeading={frontmatter.title}>
  <div class="relative bg-white border-4 border-solid border-gray-600 rounded-lg max-w-7xl mx-auto p-8 mt-8 shadow-md transform transition-transform" style="background-image: url('/paper.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <article class="font-title text-lg text-gray-800">
      <!-- Header Section for Title and Metadata -->
      <header class="mb-6">
        <!-- <h1 class="text-4xl font-sketch text-emerald-400 mb-2">
          {frontmatter.title}
        </h1> -->
        <p class="text-sm text-gray-500 font-title border-b-2 border-dashed border-gray-400 pb-1 mb-1">
          Published on: {formattedDate}
        </p>
        <div class="mt-4">
          <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="border-2 border-dashed border-gray-400 rounded-lg shadow-lg shadow-gray-300 w-full max-w-3xl mx-auto"/>
        </div>
      </header>

      <!-- Main Content -->
      <slot />
    </article>
  </div>
</BaseLayout>